<!-- <app-header title="Caso 60"></app-header> -->

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Caso 60</h3>
        <h4>OS ENVOLVIDOS</h4>

        <p><b>George Cotson, cliente: </b>
          <br>
          Ia com frequência a loja, mas nem sempre comprava algo. Estava perto da loja quando o joalheiro reportou o
          assalto. Ele é um colecionador de jóias com afinco.
        </p>
        <p><b>Mary Stearns, cliente: </b>
          <br>
          Encomendou a jóia roubada. Estava de passagem na cidade a negócios e havia passado rapidamente na loja no dia
          anterior para encomendar a peça, pois a joalheria ainda não estava com a peça em estoque.
        </p>
        <p><b>Joanne Peterson, funcionária: </b>
          <br>
          Trabalhava como vendedora. Recebeu aviso de demissão e era sua última semana de trabalho. Ela possui todas as
          chaves da loja.
        </p>
        <p><b>Ralph Farreli, joalheiro: </b>
          <br>
          É o dono da joalheria. Poderia ganhar o dinheiro do seguro, já que ele cobre tudo que está dentro da loja.
          Como a jóia não havia sido revisada pelo seguro, o valor dela é o que o joalheiro declarar sob juramento da
          lei. Foi ele que reportou o assalto ao chegar de manhã.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="btn" primary ion-button (click)="avancar()">
          Avançar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>