<!-- <app-header title="Caso 60"></app-header> -->

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4><b>George Cotson</b></h4>
        <p>
          <i>"<b>Sempre venho a loja para ver se tem algo novo para minha coleção</b>. Mas a qualidade das peças tem
            caído nos últimos meses. O joalheiro comentou que havia conseguido uma jóia rara, porém ela já estava
            encomendada, mas caso a venda não desse certo, ele traria para me mostrar."</i>
        </p>
        <h4><b>Mary Stearns</b></h4>
        <p>
          <i>"Estava de passagem na cidade. Vi a joalheria e resolvi ver se conseguiam uma peça que estou atrás há
            muito tempo.<b>Conversei com o joalheiro por uns 10 minutos</b> e ele falou que conseguiria a peça pra mim e
            que eu deveria ir buscar na tarde do dia seguinte."</i>
        </p>
        <h4><b>Joanne Peterson</b></h4>
        <p>
          <i>"Cheguei às 8:15, um pouco atrasada, mas como era minha última semana como atendente não estava preocupada
            em chegar no horário. Desde que a joalheria tem tido renda baixa devido a aposentadoria do artesão temos
            tido um corte de funcionários.<b>Ao chegar vi o chefe ligando para a polícia pelo telefone do
              balcão.</b>"</i>
        </p>
        <h4><b>Ralph Farreli</b></h4>
        <p>
          <i>"Cheguei às 8:05, <b>e como todo dia de manhã, fui conferir o relatório do dia anterior</b>. Como havia uma
            encomenda, fui ao depósito deixar separado a peça para quando o agente do seguro chegasse para revisar e
            assim realizar a venda."</i>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="btn" primary ion-button (click)="avancar()">
          Avançar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>