<!-- <app-header title="Caso 60"></app-header> -->

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Caso 60</h3>
        <h4>O CASO DA LUZ DAS CINZAS</h4>

        <p>
          A joalheria de Ralph Farreli é famosa por deter com exclusividade jóias de um famoso artesão de pedras
          preciosas.
          A última jóia a chegar em sua loja foi considerada a <i>magnum opus</i> do artesão: A <b>jóia Luz das
            Cinza</b>
          com um entalhado em diamante escurecido em seu interior.
          O que Ralph não esperava é que no dia após o termino da jóia ela seria roubada.
        </p>
        <p>
          Encarregado da investigação está Sherlock, que utilizará de seu <b>racioncio lógico</b> para determinar o
          <b>responsavel pelo roubo da Luz das Cinzas.</b>
        </p>
        <p>Pistas:</p>
        <p style="padding-left: 10px;">
          A porta não foi arrombada.
          <br>
          A joia não foi revisada pelo seguro para registrar seu valor.
          <br>
          O ladrão desviou das câmeras.
        </p>
        <p>É do conhecimento de Sherlock:</p>
        <p style="padding-left: 10px;">
          O seguro cobre tudo que está na loja;
          <br>
          Era a última semana da atendente antes dela ser demitida;
          <br>
          Colecionadores de jóias só compram jóias com selo de autenticidade;
          <br>
          Selo de autenticidade só é dado no momento da compra da jóia;
          <br>
          Para desviar de câmeras é necessário conhecer bem a loja;
          <br>
          Os atendentes não tem chave do depósito;
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center; margin-top: 10px;">
        <button class="btn" primary ion-button (click)="avancar()">
          Avançar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>