<!-- <app-header title="investigacao-indiscreta" [showButtonPerfil]="true"></app-header> -->
<app-header title="investigacao-indiscreta"></app-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="btn" primary ion-button (click)="comecar()">
          Começar
        </button>
      </ion-col>
    </ion-row>
    <!-- <p *ngIf="verifyEmpty();" text-center style=" color: grey !important; font-weight: bolder; font-size: 1.8rem;">
      Não há eventos cadastrados
    </p> -->
  </ion-grid>
</ion-content>