<!--
https://www.urbs.curitiba.pr.gov.br/EstaR
https://curitiba.zazuldigital.com.br/
https://play.google.com/store/apps/details?id=br.com.estardigital.curitiba.motorista
https://play.google.com/store/apps/details?id=com.zonaazulfacil.sp
https://elparking.com/bra
// telas seguindo esse aqui >
https://www.zuldigital.com.br/estar-curitiba?utm_source=urbs&utm_medium=site
https://play.google.com/store/apps/details?id=br.com.zuldigital.cwb&utm_source=site&utm_medium=landingpage&utm_campaign=institucional
https://play.google.com/store/apps/details?id=br.com.zuldigital  
-->

<ion-content class="ion-padding">
  <ion-grid class="top-grid">
    <ion-row>
      <ion-col style="align-self: center;">
        <div class="ion-text-center"><img src="assets/icon/icon2.png" /></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bottom-grid">
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="btn" primary ion-button (click)="cadastrar()">
          Cadastrar
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <button class="btn" primary ion-button (click)="login()">
          Já tenho uma conta
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>