.btn {
  width: 100% !important;
  color: var(--ion-color-light);
  background-color: var(--ion-color-secondary);

  ion-icon {
    font-size: large;
    vertical-align: text-bottom;
  }
}

.dash-card {
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 14px;
  padding: 0.8em 0.2em;
  --box-shadow: 0px 2px 5px #00000029;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.161);
  opacity: 1;

  span {
    font-size: 0.7em;
    font-weight: 400;
    color: var(--ion-color-dark-text);
  }

  .cifrao {
    vertical-align: super;
    font-size: 1em;
    color: var(--ion-color-secondary);
    font-weight: 400;
  }

  .saldo {
    font-size: 3.1em;
    color: var(--ion-color-secondary);
    font-weight: 400;
  }

  ion-icon {
    font-size: 3.5em;
    position: absolute;
    left: 85%;
    top: 28%;
    color: var(--ion-color-secondary);
  }
}

.infocar-card {
  border-left-style: dotted;
  border-color: var(--ion-color-secondary);
  background-color: #FFFFFF;
  margin: 8px;
  padding: 1.2em 1em;
  --box-shadow: 0px 2px 5px #00000029;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.161);
  opacity: 1;

  span {
    text-align: left;
  }

  .title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--ion-color-dark-text);
  }

  .car {
    font-size: 0.8em;
    color: var(--ion-color-dark-text);
    font-weight: 400;
  }
}

.progress-outer {
  height: 86%;
  width: 96%;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  color: #fff;
  border-radius: 5px;
}

.progress-inner {
  //min-width: 15%;
  min-width: 0%;
  min-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  font-size: 1.2rem;
  ;
}