<!-- <app-header title="investigacao-indiscreta" [showButtonPerfil]="true"></app-header> -->
<!-- 
https://www.urbs.curitiba.pr.gov.br/EstaR
https://curitiba.zazuldigital.com.br/
https://play.google.com/store/apps/details?id=br.com.estardigital.curitiba.motorista
https://play.google.com/store/apps/details?id=com.zonaazulfacil.sp
https://elparking.com/bra
https://www.zuldigital.com.br/estar-curitiba?utm_source=urbs&utm_medium=site
https://play.google.com/store/apps/details?id=br.com.zuldigital.cwb&utm_source=site&utm_medium=landingpage&utm_campaign=institucional
https://play.google.com/store/apps/details?id=br.com.zuldigital  
-->

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row style="justify-content: center; padding-bottom: 2em;">
      <ion-col size="6" class="dash-card">
        <span>VOCÊ POSSUI</span>
        <br />
        <span class="cifrao">R$</span> <span class="saldo">30</span>
        <br />
        <span>EM SEU SALDO</span>
        <ion-icon name="add-circle" (click)="addCredits()"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- <p *ngIf="verifyEmpty();" text-center style=" color: grey !important; font-weight: bolder; font-size: 1.8rem;">
      Você não possui nenhum veiculo cadastrado ainda. Clique aqui para cadastrar.
    </p>  -->
    <ion-row style="justify-content: center;">
      <ion-col size="10" class="infocar-card" style="display: flex">
        <ion-col size="5">
          <span class="title">ABC 1234</span>
          <br />
          <span class="car">CELTA</span>
        </ion-col>
        <ion-col size="7">
          <button class="btn" primary ion-button (click)="reservarVaga()">
            Estacionar
            <ion-icon name="time-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-col>
      <ion-col size="10" class="infocar-card" style="display: flex">
        <ion-col size="5">
          <span class="title">DEF 5678</span>
          <br />
          <span class="car">GOL</span>
        </ion-col>
        <ion-col size="7">
          <button class="btn" primary ion-button (click)="reservarVaga()">
            Estacionar
            <ion-icon name="time-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>