<app-header showButtonMenu="true" title="nome_app" showButtonHelp="true"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row style="justify-content: center; padding-bottom: 2em;">
      <ion-col size="6" class="dash-card">
        <span>VOCÊ POSSUI</span>
        <br />
        <span class="cifrao">R$</span> <span class="saldo">{{ saldo }}</span>
        <br />
        <span>EM SEU SALDO</span>
        <ion-icon name="add-circle" (click)="addCredits()"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- <p *ngIf="verifyEmpty();" text-center style=" color: grey !important; font-weight: bolder; font-size: 1.8rem;">
      Você não possui nenhum veiculo cadastrado ainda. Clique aqui para cadastrar.
    </p>  -->
    <ion-row style="justify-content: center;">
      <ion-col size="10" class="infocar-card" style="display: flex">
        <ion-col size="5">
          <span class="title">ABC 1234</span>
          <br />
          <span class="car">CELTA</span>
        </ion-col>
        <ion-col size="7">
          <button class="btn" primary ion-button (click)="reservarVaga()">
            Estacionar
            <ion-icon name="time-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-col>
      <ion-col size="10" class="infocar-card" style="display: flex">
        <ion-col size="5">
          <span class="title">DEF 5678</span>
          <br />
          <span class="car">GOL</span>
        </ion-col>
        <ion-col size="7">
          <button class="btn" primary ion-button (click)="reservarVaga()">
            Estacionar
            <ion-icon name="time-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" style="padding-top: 2em;">
        <button class="btn" style="width: 80% !important; background-color: #12a9bb;" ion-button
          (click)="cadastrarVeiculo()">
          <ion-icon name="add" style="font-size: larger !important"></ion-icon>
          Novo Veículo
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>